* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
}

h1 {
  color: white;
  font-size: 7vw;
  line-height: 175%;
  margin-left: 1%;
  letter-spacing: -8px;
  text-transform: uppercase;
}

button {
  font-size: 3vw;
  color: white;
  border: none;
  background-color: transparent;
  margin-left: 1%;
  padding: 10px;
}

button:hover {
  border: 5px solid white;
}

button:focus {
  outline:0;
}